html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

}
*{
    margin: 0px;
}
.container{
    height: 100%;
    width: 100%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


}
.header{
    width: 100%;
    height: 15%;
    text-align: center;
    color: white;
    font-size: 36px;
    /* */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.header>button{
    background-color: rgb(0, 60, 109);
    font-size: 13px;
    height: 25px;
    width: 85px;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    color: white;
}
span{
    font-size: 18px;
}
.body{
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    
}
.footer{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    width: 100%;
    height: 5%;
    
}

/* ----------------Pop-up form */
.form-popup {
  margin-right: 500px;
  border-radius: 10px;
  display: none;
  position: fixed;
  /* bottom: 0; */
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password], .form-container input[type=number] {
  width: 270px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.books-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.book{
  width:150px;
  height: 150px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  margin:10px 10px;
  justify-content: start;
  background-color: gainsboro;
  color: black;
  padding: 5px 5px;
}