body,html{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;

}
*{
    padding: 0px;
    margin: 0px;
}
.container{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.header{
text-align: center;

height: 10%;
width: 100%;
background-color: antiquewhite;
margin: 0px;
padding: 0px;
}
.header p{
    font-size: 2rem;
}
.header button{
    font: 1.5rem;
    background-color: aliceblue;
    height: 2rem;
    width: 4rem;
    border-radius: 5px;
    border-color: antiquewhite;
}

.content{
    height: 80%;
    width: 100%;
    background-color: cadetblue;
    /* display: inline; */
    justify-content: center;
    
}
.book-form{
    margin-left: 50rem;
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto ;

}


.formfield{
    height: 2rem;
    width: 16rem;
    border: none;
    color: cadetblue;
    background-color: aliceblue;
}
.submitButton{
    height: 2rem;
    width: 16rem;
    border: 2px ;
    background-color: chartreuse;
   
}


.footer{
    height: 10%;
    width: 100%;
    background-color: aliceblue;
}
.booktilediv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding: 0.5rem; */
}

.bookTile{
    height: 10rem;
    width: 10rem;
    color: cadetblue;
    border: 2px black inset;
    background-color: antiquewhite;
    padding-left: 1rem;
    
    border-radius: 10px;
    margin: 0.5rem;
}
